<mat-drawer-container class="page-container" autosize>
  <mat-drawer #menu class="sidenav primary" mode="side">
    <tm-settings-toggler></tm-settings-toggler>
  </mat-drawer>

  <div class="page-content">
    <div class="sidenav-ctrl">
      <a
        [routerLink]="['/']"
        routerLinkActiveOptions="{ exact: true }"
        mat-mini-fab color="primary" aria-label="Назад"
        title="Назад"
        class="ctrl-button"
      >
        <mat-icon>arrow_back</mat-icon>
      </a>
      <button
        mat-mini-fab color="primary" aria-label="Меню"
        (click)="menu.toggle()"
        title="Меню"
        class="ctrl-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="content">
      <h1>General Settings</h1>
    </div>
  </div>
</mat-drawer-container>
