<div class="">
  <div class="stripe" *ngIf="showSigns">
    <mat-button-toggle-group
      [name]="groupProps.id.toString()"
      [style.top]="offsetTop"
      [value]="groupProps.selectedTool?.url"
      class="sign-group"
      (change)="onSelectTool($event)"
    >
      <mat-button-toggle
        *ngFor="let item of groupProps.signs;"
        [value]="item.sign"
        class="stripe-btn"
        [aria-label]="item.title"
        [id]="item.id.toString()"
        [title]="item.description"
      >
        <img [src]="'file://'+ item.sign" class="stripe-img" />
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="usg-btn"
    class="toggle-btn"
    [ngClass]="{ 'active': groupProps.isSelected}"
    (click)="onToggle()"
    [title]="groupProps.title"
  >
    <img *ngIf="groupProps.isSelected" [src]="'file://'+ groupProps.selectedTool?.url" class="toggle-img">
    <div *ngIf="!groupProps.isSelected" class="group-circle"></div>
  </button>
</div>
