<ul>
  <li
    routerLinkActive="active-li"
    class="li"
  >
    <a
      [routerLink]="['/settings/general']"
      routerLinkActive="active"
      class="link"
    >
      Загальне
    </a>
  </li>
  <li
    routerLinkActive="active-li"
    class="li"
  >
    <a
      [routerLink]="['/settings/default-sign-group']"
      routerLinkActive="active"
      class="link"
    >
      Знаки
    </a>
  </li>
  <li
    routerLinkActive="active-li"
    class="li"
  >
    <a
      [routerLink]="['/settings/user-sign-group']"
      routerLinkActive="active"
      class="link"
    >
      Панель знаків
    </a>
  </li>
</ul>
