<div class="">
  <div class="stripe" *ngIf="showSigns">
    <mat-button-toggle-group
      [name]="usgProps.id.toString()"
      [style.top]="offsetTop"
      [value]="usgProps.selectedSign?.value"
      class="sign-group"
      (change)="onSelectSign($event)"
    >
      <mat-button-toggle
        *ngFor="let item of usgProps.signs;"
        [value]="item.sign"
        class="stripe-btn"
        [aria-label]="item.title"
        [id]="item.id.toString()"
        [title]="item.description"
      >
        <img [src]="'file://'+ item.sign" class="stripe-img" />
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="usg-btn"
    class="toggle-btn"
    [ngClass]="{ 'active': usgProps.isSelected}"
    (click)="onToggle()"
    [title]="usgProps.title"
  >
    <img *ngIf="usgProps.isSelected" [src]="'file://'+ usgProps.selectedSign?.value" class="toggle-img">
    <div *ngIf="!usgProps.isSelected" class="group-circle"></div>
  </button>
</div>
